html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 3rem;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
    height: 100vh;
    /* width: 100vw; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4f4789;
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
  }
}

h1 {
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 35px;
}

.footer {
  display: flex;
  transform: translateY(-100%);
  display: inline-block;
}
